<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href="../static/credits_style.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Login | Batch 2021</title>
</head>
<body>

    <div class="container" id = "nav-container">
        <nav id = "nav">
            <h2>__Batch 2021__</h2>
            <ul style="list-style: none;">
                <li><a style = "color:white;" href = "/"> < BACK </a></li>
            </ul>
        </nav>
    </div>

    <div id = "credits-container">
        <div id = "created-by">
            <h2>Created by Kavish Tomar<h2>
        </div>
        <div id = "about-paragraph">
            <p>
                Hi, my name is Kavish Tomar, I am the developer of this website and an ex marian.
                This website is created so that the ex students of SMCIC of batch 2021 can share there school memories.
            </p>
            
        </div>
        <div id = "insiders">
            <p>
                This website is built with simple HTML, CSS, Javascript on the frontend 
                and the backend is written in python with Django framework.    
            </p>
        </div>
        <div id = "follow-links">
            <h3>Follow me on</h3>
            <a href = "https://www.instagram.com/_kavishtomar_/"><img width = "30" src = "../static/NicePng_instagram-png_14885.png"></a>
            <a style = "margin-left: 1em;" href = "https://twitter.com/KavishTomar4"><img width = "30" src = "../static/twitterlogo.png"></a>
            <a style = "margin-left: 1em;" href = "https://github.com/KavishTomar4"><img width = "35" src = "../static/githublogo.png"></a>
            
        </div>
    </div>



   
    
</body>
</html>